<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AidMeds</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/estilos.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
  <link rel="stylesheet" href="/dist/output.css">
</head>

<body class="font-principal">
  <!-- logo-->
  <header>
    <nav class="wrapper h-20 flex items-center justify-between">
      <a href="/" class="w-12 w-full[100px]">
        <img src="/images/LogoAid.png" alt="Logo AidMeds" />
      </a>
      <!--fin logo-->
      <!--Menu-->

      <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden">
        <ul
          class="absolute inset-x-0  p-12 bg-white w-[90%] mx-auto rounded-md h-max text-center grid gap-6 font-bold text-dark-blue shadow-2xl md:w-max md:bg-transparent md:p-0 md:grid-flow-col md:static">
          <li>
            <a href="#about">About Us</a>
          </li>

          <li>
            <a href="#test">Testimonial</a>
          </li>

          <li>
            <a href="/service">Policy</a>
          </li>
        </ul>
      </div>


      <a href="/Login" class="button shadow-slate-300 hidden py-3 lg:block">Login</a>
    </nav>
    <!--Menu-->
    <!--Superior-->
    <section class="wrapper grid gap-8 justify-items-center items-center pb-12 md:grid-cols-2 md:py-24">
      <img src="/images\voluntarios-cajas.jpg" class="w-full max-content_max-content  md:order-1/2" />

      <article class="text-center -space-y-10 md:text-left">
        <h1 class="text-2xl mb-12 md:mb-6 font-bold text-very-dark-blue md:text-5xl">
          Working for a better place, where we all have the same opportunities
        </h1>
        <p class="text-dark-grayish-blue">
          When making donations of any type of product you can always find dishonest and cruel people who donate items
          that could affect others, this happens due to the bad actions of donors, but also due to poor prevention
          measures that companies dedicated to this type of services.
          <br>
          <br>
          <a href="/service" class="button mx-auto shadow-xl shadow-very-dark-blue/30">More
            information
          </a>
        </p>

      </article>

    </section>
  </header>

  <!--figure class="absolute inset-0 overflow-hidden pointer-events-none">
      <img
        src="./images/bg-tablet-pattern.svg"
        class="absolute w-full -z-10 -top-24 -right-1/4 max-w-2xl"
      />
    </figure'-->
  <!----------------------------------Fin superior----------------------------->
  <!----------------------------------About us---------------------------------->
  <main>
    <section id="about" class="wrapper text-center py-24 grid gap-12 md:grid-cols-2 md:text-left">
      <p class="text-3xl font-bold text-very-dark-blue md:text-4xl">
        Resolutions that inspire us to something better
        </article>
      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-very-pale-red text-white px-6 rounded-full py-2">
            01
          </span>
          <span class="flex-1 p-2"> Mission </span>


        <p class="text-dark-grayish-blue text-justify">
          Aidmeds arises in the search to avoid the waste of possible medicines that someone may need. The objective of
          Aidmeds is to give a better use and a better utilization to all those medicines that could be wasted when they
          are no longer used,
          as well as to promote solidarity and ethics through donations.
        </p>
      </article>

      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-very-pale-red text-white px-6 rounded-full py-2">
            02
          </span>
          <span class="flex-1 p-2"> Vision</span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          Aidmeds seeks security when receiving and sending medicines, making tests, forms and checking everything
          correctly, gaining the trust of both the donor and the benefited hospital,
          all in order to ensure good treatment and good management of medicines to support people who may need it.
        </p>
      </article>

      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-very-pale-red text-white px-6 rounded-full py-2">
            03
          </span>
          <span class="flex-1 p-2"> Values </span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          The shortage of medicines in hospitals is a serious problem that prevents people from receiving the medicines
          they need for their treatment. People who no longer need to take medications, either because they have been
          cured or for any other reason,
          decide to leave them at home and this causes leftover medications to go to waste or remain without any
          productive use.
        </p>
      </article>
      </div>
    </section>
  </main>

  <!------------------------Fin-------------------------------------------------------->
  <!------------------------Testimonials----------------------------------------------->
  <!------------------------Fin testimonials-------------------------------------------------------->
  <section id="test" class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Here are our heroes</h2>
          <p class="text-lg leading-relaxed m-4 text-dark-grayish-blue ">
            People who have started using AidMeds and supporting the society.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="\images\voluntarios-cajas.jpg" class="shadow-lg rounded max-w-full mx-auto"
              style="max-width: 120px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Ryan Tompson</h5>
              <p class="mt-1 text-sm text-dark-grayish-blue font-semibold">
                Web Developer
              </p>
              <div class="mt-6">
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="\images\test3.jpg" class="shadow-lg rounded max-w-full mx-auto"
              style="max-width: 120px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Romina Hadid</h5>
              <p class="mt-1 text-sm text-dark-grayish-blue font-semibold">
                Marketing Specialist
              </p>
              <div class="mt-6">
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="\images\test2.jpg" class="shadow-lg rounded max-w-full mx-auto"
              style="max-width: 120px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Alexa Smith</h5>
              <p class="mt-1 text-sm text-dark-grayish-blue font-semibold">
                UI/UX Designer
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="\images\test1.jpg" class="shadow-lg rounded max-w-full mx-auto"
              style="max-width: 120px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Jenna Kardi</h5>
              <p class="mt-1 text-sm text-dark-grayish-blue font-semibold">
                Founder and CEO
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <a href="/test" class="button mx-auto shadow-xl shadow-very-dark-blue/30 md:mx-auto">More</a>
  </section>
  <!------------------------Footer-------------------------------------------------------->
  <section class="bg-very-pale-red opacity-500 font-bold">
    <div
      class="wrapper py-24 text-center grid gap-6 md:grid-cols-[40%_40%] md:justify-between md:items-center">
      <h2 class="text-4xl text-very-dark-blue">
        Join now, create an account.
      </h2>

      <a href="/login" class="button bg-very-dark-blue mx-auto">Sign In</a>
    </div>
  </section>


  <footer class="bg-very-dark-blue py-24">
    <section
      class="wrapper grid gap-12 justify-items-center footer-area md:footer-area-md md:grid-cols-3 md:justify-items-stretch">


      <nav
        class="grid grid-cols-[max-content_max-content] gap-y-4 justify-between text-white w-4/5 [grid-area:navigation] md:w-full">
        <a href="#">Home</a>
        <a href="#about">About Us</a>
        <a href="#test">Testimonial</a>
        <a href="/service">Privacy Policy</a>
      </nav>



      <a href="#" class="w-1/3 w-full[140px]">
        <img src="/images/LogoAid.png" alt="Logo AidMeds">
      </a>
      <p class="text-dark-grayish-blue text-center [grid-area:copy] md:text-right">
        Copyright 2023. All Rights Reserved
      </p>
    </section>
  </footer>
</body>

</html>