<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Terms</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/estilos.css" />
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
  <link rel="stylesheet" href="/dist/output.css">
</head>

<body class="font-principal">
  <!-----------------------------------Logo------------------------------------------>
  <header>
    <nav class="wrapper h-20 flex items-center justify-between">
      <a href="/" class="w-12 w-full[140px]">
        <img src="/images/LogoAid.png" class="w-full" />
      </a>
      <!-----------------------------------Fin logo-------------------------------------->
      <!--Agregar mas espaciado entre las opciones-->
      <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden">
        <ul
          class="absolute inset-x-0  p-12 bg-white w-[90%] mx-auto rounded-md h-max text-center grid gap-6 font-bold text-dark-blue shadow-2xl md:w-max md:bg-transparent md:p-0 md:grid-flow-col md:static">
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/test">Testimonial</a>
          </li>
        </ul>
      </div>

      <a href="/login" class="button shadow-transparent hidden py-3 lg:block">Login</a>
    </nav>
    <!----------------------------------Terminos y condiciones---------------------------------->
    <main>
      <section class="wrapper text-center py-24 max-w-lg mx-auto md:max-w-xl">
        <article>
          <p id="about" class="text-3xl font-bold text-very-dark-blue mb-6 md:text-4xl">
            TERMS AND CONDITIONS
        </article>
      </section>
      <!--Proposito de la pagina-->
      <section class="bg-vary-light-gray opacity-500">

        <div class="p-12 gap-8 md:grid-cols-[40%_40%]">
          <p class="text-dark-grayish-blue text-justify">
            Aidmeds as Data Controller, informs you that we will treat your data as we reflect in this Privacy Policy.
            In this Privacy Policy we describe how we collect your personal data and why we collect it, what we do with
            it, who we share it with, how we protect it and your options regarding the treatment of your personal data.
            This Policy applies to the processing of your personal data collected by the company for the provision of
            its services. If you agree to the measures in this Policy, you consent to our processing of your personal
            data as defined in this Policy.
          </p>
        </div>

      </section>
    </main>
    <br>
    <br>
    <br>
    <!--Fin-->

    <section class="p-12 text-center grid gap-12 md:grid-cols-2 md:text-left" grid gap-12>
      <!-- 1-->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex text-left items-center md:bg-transparent">
          <span class="flex-1 p-2"> USER INFORMATION </span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          Aidmeds as Data Controller, informs you that we will treat your data as we reflect in this Privacy Policy.
          In this Privacy Policy we describe how we collect your personal data and why we collect it, what we do with
          it, who we share it with, how we protect it and your options regarding the treatment of your personal data.
          This Policy applies to the processing of your personal data collected by the company for the provision of its
          services. If you agree to the measures in this Policy, you consent to our processing of your personal data as
          defined in this Policy.

        </p>
      </article>
      <!--FIN 1-->
      <!--2-->

      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex text-left items-center md:bg-transparent">
          <span class="flex-1 p-2"> COLLECTION AND PROCESSING OF YOUR PERSONAL DATA </span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          The types of data that may be requested and processed are:

          Identifying data.
          We also automatically collect data about your visit to our website as described in the cookie policy.

          Whenever we request your Personal Data, we will clearly inform you what Personal Data we collect and for what
          purpose. In general, we collect and process your Personal Data for the purpose of:

          Providing information, services, products, relevant information and industry news.
          Sending communications.

        </p>
      </article>
      <!--FIN 2-->
      <!-- 3-->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex text-left items-center md:bg-transparent">
          <span class="flex-1 p-2">LEGITIMACY</span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          In accordance with applicable data protection regulations, your personal data may be processed provided that:

          You have given us your consent for the purposes of processing. You may of course withdraw your consent at any
          time.
          By legal requirement.
          Because there is a legitimate interest that is not undermined by your privacy rights, such as sending
          commercial information either by subscribing to our newsletter or by your status as a customer.
          For being necessary for the provision of any of our services through a contractual relationship between you
          and us.
        </p>
      </article>
      <!--FIN 3-->
      <!--4-->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex text-left items-center md:bg-transparent">
          <span class="flex-1 p-2">COMMUNICATION OF PERSONAL DATA</span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          The data may be communicated to companies related to the Centro de Investigación Económica y Presupuestaria,
          A. C. for the provision of various services in their capacity as Data Processors. The company will not make
          any transfer, except for legal obligation.
        </p>
      </article>
      <!--FIN 4-->
      <!--5-->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex text-left items-center md:bg-transparent">
          <span class="flex-1 p-2">YOUR RIGHTS
          </span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          The data may be communicated to companies related to the Centro de Investigación Económica y Presupuestaria,
          A. C. for the provision of various services in their capacity as Data Processors. The company will not make
          any transfer, except for legal obligation.
        </p>
      </article>
      <!--FIN 5-->
      <!--6-->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-very-pale-red rounded-l-full font-bold flex text-left items-center md:bg-transparent">
          <span class="flex-1 p-2">LEGAL INFORMATION </span>
        </p>

        <p class="text-dark-grayish-blue text-justify">
          The requirements of this Policy supplement, and do not replace, any other requirements existing under
          applicable data protection law, which shall prevail in any event.

          This Policy is subject to periodic review and may be amended by the Company at any time. When this occurs,
          we will notify you of any changes and ask you to re-read the most recent version of our Policy and confirm
          your acceptance.
        </p>
      </article>
      <!--FIN 6-->
      </div>
    </section>
    <!------------------------Fin-------------------------------------------------------->

    <!------------------------Footer-------------------------------------------------------->
    <section class="bg-bright-red font-bold">

    </section>
    </main>

    <footer class="bg-very-dark-blue py-24">
      <section
        class="wrapper grid gap-12 justify-items-center footer-area md:footer-area-md md:grid-cols-3 md:justify-items-stretch">


        <nav
          class="grid grid-cols-[max-content_max-content] gap-y-4 justify-between text-white w-4/5 [grid-area:navigation] md:w-full">
          <a href="/">Home</a>
          <a href="/">About Us</a>
          <a href="/test">Testimonial</a>
          <a href="/service">Privacy Policy</a>
        </nav>



        <a href="/" class="w-1/3 w-full[140px]">
          <img src="/images/LogoAid.png" alt="Logo AidMeds">
        </a>

        <p class="text-dark-grayish-blue text-center [grid-area:copy] md:text-right">
          Copyright 2023. All Rights Reserved
        </p>
      </section>
    </footer>
</body>

</html>